@{
    ViewData["Title"] = "POS Bán Hàng";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Danh sách nhân viên | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/Admin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>


<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button-->
        <!-- Navbar Right Menu-->
        <ul class="app-nav">


            <!-- User Menu-->
            <li>
                <a class="app-nav__item" href="/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->

    <main class="app app-ban-hang">
        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>POS bán hàng</b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tile">
                    <h3 class="tile-title">Phần mềm bán hàng</h3>

                    <!-- Thanh tìm kiếm sản phẩm -->
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm để tìm kiếm...">

                    <!-- Bảng sản phẩm ngẫu nhiên (4 sản phẩm) -->
                    <h3 class="tile-title" style="margin-top:20px">Danh sách sản phẩm</h3>
                    <div class="du--lieu-san-pham">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã hàng</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Số lượng tồn</th>
                                    <th>Giá bán</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in (IEnumerable<dynamic>)ViewData["RandomProducts"])
                                {
                                    <tr>
                                        <td>@product.MaSanPham</td>
                                        <td>@product.TenSanPham</td>
                                        <td><img src="/LayoutOgani/img/@product.HinhAnh" alt="" width="50px;"></td>
                                        <td>@product.SoLuongTon</td>
                                        <td>@String.Format("{0:N0}", product.GiaBan) đ</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" type="button" onclick="addToOrder('@product.MaSanPham', '@product.TenSanPham', '@product.HinhAnh', @product.GiaBan)">Thêm</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- Bảng Sản phẩm đã thêm -->
                    <h3 class="tile-title" style="margin-top:20px">Sản phẩm đã thêm</h3>
                    <div id="emptyMessage">
                        Đơn hàng hiện đang trống, vui lòng thêm sản phẩm.
                    </div>
                    <div id="addedProductsTable" class="du--lieu-san-pham" style="display: none;">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã hàng</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Màu sắc</th>
                                    <th>Kích thước</th>
                                    <th>Số lượng</th>
                                    <th>Giá bán</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="addedProductsBody">
                                <!-- Sản phẩm sẽ được thêm vào đây bằng JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile">
                    <h3 class="tile-title">Thông tin thanh toán</h3>
                    <div class="row">
                        <div class="form-group  col-md-10">
                            <label class="control-label">Họ tên khách hàng</label>
                            <input class="form-control" type="text" placeholder="Tìm kiếm khách hàng">
                        </div>
                        <div class="form-group  col-md-2" style="margin-top: 30px">
                            <button class="btn btn-primary btn-them" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-user-plus"></i>
                            </button>
                        </div>
                        <div class="form-group  col-md-12">
                            <label class="control-label">Nhân viên bán hàng</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>--- Chọn nhân viên bán hàng ---</option>
                                <option>Võ Trường</option>
                                <option>Nhật Kim Anh</option>
                                <option>Đào Thanh Tuấn</option>
                                <option>Phạm Phong Phú</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-12">
                            <label class="control-label">Ghi chú đơn hàng</label>
                            <textarea class="form-control" rows="4" placeholder="Ghi chú thêm đơn hàng"></textarea>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group  col-md-12">
                            <label class="control-label">Hình thức thanh toán</label>
                            <select class="form-control" id="exampleSelect2" required>
                                <option>Thanh toán chuyển khoản</option>
                                <option>Trả tiền mặt tại quầy</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="control-label">Tạm tính tiền hàng: </label>
                            <p class="control-all-money-tamtinh">= 12.000.000 VNĐ</p>
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="control-label">Giảm giá (F7): </label>
                            <input class="form-control" type="number" value="0">
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="control-label">Tổng cộng thanh toán: </label>
                            <p class="control-all-money-total">= 12.000.000 VNĐ</p>
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="control-label">Khách hàng đưa tiền (F8): </label>
                            <input class="form-control" type="number" value="12.000.000">
                        </div>
                        <div class="form-group  col-md-12">
                            <label class="control-label">Khách hàng còn nợ: </label>
                            <p class="control-all-money"> - 0 VNĐ</p>
                        </div>
                        <div class="tile-footer col-md-12">
                            <button class="btn btn-primary luu-san-pham" type="button"> Lưu đơn hàng (F9)</button>
                            <button class="btn btn-primary luu-va-in" type="button">Lưu và in hóa đơn (F10)</button>

                            <a class="btn btn-secondary luu-va-in" href="Admin/Index">Quay về</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--
      MODAL
    -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Tạo mới khách hàng</h5>
                            </span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Họ và tên</label>
                            <input class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Địa chỉ</label>
                            <input class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Email</label>
                            <input class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Ngày sinh</label>
                            <input class="form-control" type="date" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Số điện thoại</label>
                            <input class="form-control" type="number" required>
                        </div>
                    </div>
                    <BR>
                    <button class="btn btn-save" type="button">Lưu lại</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">X</span>
            </div>


        </div>

    </div>
    <!-- Essential javascripts for application to work-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/Plugin/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src="/Plugin/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Plugin/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script>
        function deleteRow(r) {
          var i = r.parentNode.parentNode.rowIndex;
          document.getElementById("myTable").deleteRow(i);
        }
        //Thời Gian
        function time() {
          var today = new Date();
          var weekday = new Array(7);
          weekday[0] = "Chủ Nhật";
          weekday[1] = "Thứ Hai";
          weekday[2] = "Thứ Ba";
          weekday[3] = "Thứ Tư";
          weekday[4] = "Thứ Năm";
          weekday[5] = "Thứ Sáu";
          weekday[6] = "Thứ Bảy";
          var day = weekday[today.getDay()];
          var dd = today.getDate();
          var mm = today.getMonth() + 1;
          var yyyy = today.getFullYear();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          nowTime = h + " giờ " + m + " phút " + s + " giây";
          if (dd < 10) {
            dd = '0' + dd
          }
          if (mm < 10) {
            mm = '0' + mm
          }
          today = day + ', ' + dd + '/' + mm + '/' + yyyy;
          tmp = '<span class="date"> <i class="bx bxs-calendar" ></i> ' + today + ' | <i class="fa fa-clock-o" aria-hidden="true"></i>  : ' + nowTime +
            '</span>';
          document.getElementById("clock").innerHTML = tmp;
          clocktime = setTimeout("time()", "1000", "Javascript");

          function checkTime(i) {
            if (i < 10) {
              i = "0" + i;
            }
            return i;
          }
        }
    </script>
    <script>
        function deleteRow(r) {
          var i = r.parentNode.parentNode.rowIndex;
          document.getElementById("myTable").deleteRow(i);
        }
        jQuery(function () {
          jQuery(".trash").click(function () {
            swal({
              title: "Cảnh báo",
              text: "Bạn có chắc chắn là muốn xóa?",
              buttons: ["Đóng", "Đồng ý"],
            })
              .then((willDelete) => {
                if (willDelete) {
                  swal("Đã xóa thành công.!", {
                  });
                }
              });
          });
        });
    </script>
    <script>
        // Modal popup
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
          modal.style.display = "block";
        }
        span.onclick = function () {
          modal.style.display = "none";
        }
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
    <script>
        let globalProductData = {};

        function addToOrder(maSanPham, tenSanPham, hinhAnh, giaBan) {
            fetch(`/Admin/GetProductDetail?maSanPham=${maSanPham}`)
                .then(response => response.json())
                .then(data => {
                    globalProductData[maSanPham] = data;

                    const row = document.createElement("tr");

                    const colorOptions = data.map(color =>
                        `<option value="${color.maMauSac}">${color.tenMauSac}</option>`
                    ).join('');

                    row.innerHTML = `
                            <td>${maSanPham}</td>
                            <td>${tenSanPham}</td>
                            <td><img src="/LayoutOgani/img/${hinhAnh}" alt="" width="50px;"></td>
                            <td>
                                <select class="form-control colorSelect" onchange="updateSizeOptions(this, '${maSanPham}')">
                                    ${colorOptions}
                                </select>
                            </td>
                            <td>
                                <select class="form-control sizeSelect"></select>
                            </td>
                            <td><input type="number" value="1" min="1" max="10" class="quantityInput" oninput="updateTotalPrice(this, ${giaBan})"></td>
                            <td class="priceCell">${formatCurrency(giaBan)}</td>
                            <td><button class="btn btn-primary btn-sm trash" type="button" onclick="removeProduct(this)">Xóa</button></td>
                        `;

                    document.getElementById("addedProductsBody").appendChild(row);

                    updateSizeOptions(row.querySelector('.colorSelect'), maSanPham);

                    document.getElementById("emptyMessage").style.display = "none";
                    document.getElementById("addedProductsTable").style.display = "block";

                    // Cập nhật tạm tính sau khi thêm sản phẩm
                    updateSubtotal();
                });
        }

        function updateSizeOptions(colorSelect, maSanPham) {
            const selectedColor = colorSelect.value;
            const productData = globalProductData[maSanPham];
            const colorData = productData.find(color => color.maMauSac === selectedColor);

            if (colorData && colorData.sizes) {
                const sizeOptions = colorData.sizes.map(size =>
                    `<option value="${size.maKichThuoc}">${size.tenKichThuoc}</option>`
                ).join('');
                const sizeSelect = colorSelect.closest('tr').querySelector('.sizeSelect');
                sizeSelect.innerHTML = sizeOptions;
            } else {
                const sizeSelect = colorSelect.closest('tr').querySelector('.sizeSelect');
                sizeSelect.innerHTML = '<option value="">Không có kích thước</option>';
            }
        }

        function removeProduct(button) {
            const row = button.closest("tr");
            row.remove();

            if (document.getElementById("addedProductsBody").children.length === 0) {
                document.getElementById("emptyMessage").style.display = "block";
                document.getElementById("addedProductsTable").style.display = "none";
            }

            // Cập nhật lại tạm tính sau khi xóa sản phẩm
            updateSubtotal();
        }

        function updateTotalPrice(input, unitPrice) {
            const quantity = parseInt(input.value) || 1;
            const totalPrice = unitPrice * quantity;
            const priceCell = input.closest("tr").querySelector(".priceCell");
            priceCell.textContent = formatCurrency(totalPrice);

            // Cập nhật lại tạm tính khi số lượng thay đổi
            updateSubtotal();
        }

        function updateSubtotal() {
            let subtotal = 0;
            const priceCells = document.querySelectorAll(".priceCell");

            priceCells.forEach(cell => {
                const priceText = cell.textContent.replace(/[^0-9]/g, '');
                subtotal += parseInt(priceText) || 0;
            });

            document.querySelector(".control-all-money-tamtinh").textContent = "= " + formatCurrency(subtotal);

            // Cập nhật tổng cộng thanh toán khi có thay đổi tạm tính
            updateTotalPayment();
        }

        function updateTotalPayment() {
            const subtotal = parseInt(document.querySelector(".control-all-money-tamtinh").textContent.replace(/[^0-9]/g, '')) || 0;
            const discount = parseInt(document.querySelector(".form-group input[type='number']").value) || 0;
            const totalPayment = subtotal - discount;

            document.querySelector(".control-all-money-total").textContent = "= " + formatCurrency(totalPayment);

            // Cập nhật số tiền nợ
            updateRemainingAmount();
        }

        function updateRemainingAmount() {
            const totalPayment = parseInt(document.querySelector(".control-all-money-total").textContent.replace(/[^0-9]/g, '')) || 0;
            const customerPayment = parseInt(document.querySelector(".form-group input[type='number']:nth-of-type(2)").value) || 0;
            const remainingAmount = totalPayment - customerPayment;

            document.querySelector(".control-all-money").textContent = remainingAmount < 0
                ? "= 0 VNĐ (Thừa " + formatCurrency(Math.abs(remainingAmount)) + ")"
                : "= " + formatCurrency(remainingAmount) + " VNĐ";
        }

        // Cập nhật khi thay đổi giá trị ô giảm giá
        document.querySelector(".form-group input[type='number']").addEventListener("input", updateTotalPayment);

        // Cập nhật khi thay đổi giá trị ô khách hàng đưa tiền
        document.querySelector(".form-group input[type='number']:nth-of-type(2)").addEventListener("input", updateRemainingAmount);

        function formatCurrency(amount) {
            return amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        }
    </script>


</body>

</html>