@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Detail.css" /> <!-- Thay đổi đường dẫn nếu cần -->
    <!-- Favicon -->
    <link href="../LayoutOgani/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../LayoutOgani/lib/slick/slick.css" rel="stylesheet">
    <link href="../LayoutOgani/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <!-- Top bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-envelope"></i>
                    support@email.com
                </div>
                <div class="col-sm-6">
                    <strong>Miễn phí vận chuyển toàn quốc</strong>
                    với <strong>
                        <span data-text-color="secondary">
                            tất cả hóa đơn
                        </span>
                    </strong>
                    từ 500.000 VNĐ <strong>
                        <span data-text-color="secondary"></span>
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar End -->
    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="Home" class="nav-item nav-link active">Trang chủ</a>
                        <a href="product-list.html" class="nav-item nav-link">Sản phẩm</a>
                        <a href="product-detail.html" class="nav-item nav-link">Tin tức</a>
                        <a href="Home/KhuyenMai" class="nav-item nav-link">Khuyến mãi</a>
                        <a href="checkout.html" class="nav-item nav-link">Dụng cụ thể thao</a>
                        <a href="my-account.html" class="nav-item nav-link">Sản phẩm mới</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Bộ sưu tập</a>
                            <div class="dropdown-menu">
                                <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                                <a href="login.html" class="dropdown-item">Login & Register</a>
                                <a href="contact.html" class="dropdown-item">Contact Us</a>
                            </div>
                        </div>
                    </div>

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/">Trang chủ</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <div class="nav-item dropdown">
                                    @if (Context.Session.GetString("TenKhachHang") != null)
                                    {
                                        <!-- Nếu người dùng đã đăng nhập -->
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                            @Context.Session.GetString("TenKhachHang") <!-- Hiển thị tên khách hàng từ session -->
                                        </a>
                                        <div class="dropdown-menu">
                                            <a href="/Access/Profile" class="dropdown-item">Thông tin cá nhân</a>
                                            <a href="/Access/Notification" class="dropdown-item">Thông báo</a>
                                            <a href="/Order/Detail" class="dropdown-item">Đơn hàng của bạn</a>
                                            <a href="/Invoice/Detail" class="dropdown-item">Hóa đơn của bạn</a>
                                            <a href="/Access/Logout" class="dropdown-item">Đăng xuất</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Nếu người dùng chưa đăng nhập -->
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">TÀI KHOẢN NGƯỜI DÙNG</a>
                                        <div class="dropdown-menu">
                                            <a href="/Access/Login" class="dropdown-item">ĐĂNG NHẬP</a>
                                            <a href="/Access/Register" class="dropdown-item">ĐĂNG KÝ</a>
                                        </div>
                                    }
                                </div>
                            </ul>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </div>

    <!-- Nav Bar End -->
    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/Home/Index">
                            <img src="../LayoutOgani/img/logo2.png" alt="Logo" style="width:130px; height:400px">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <form asp-controller="Home" asp-action="TimKiem" method="get">
                            <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user">
                        <a href="javascript:void(0);" class="btn cart" onclick="openCartPopup()">
                            <i class="fa fa-shopping-cart"></i>
                            <span>(0)</span>
                        </a>
                        <a href="javascript:void(0);" class="btn wishlist" onclick="showWishlist()">
                            <i class="fa fa-heart"></i>
                            <span id="wishlist-count">(0)</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->
    <!-- Main Slider Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light">
                        <h3 class="navbar-title">Danh mục sản phẩm</h3>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L05" })"><i class="fas fa-running"></i>Giày thể thao</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L08" })"><i class="fas fa-basketball-ball"></i>Dụng cụ thể thao</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L06" })"><i class="fas fa-suitcase"></i>Ba lô</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L02" })"><i class="fa fa-female"></i>Thời trang nữ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L01" })"><i class="fa fa-male"></i>Thời trang nam</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L07" })"><i class="fa fa-child"></i>Đồ trẻ em</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L03" })"><i class="fas fa-headphones"></i>Phụ kiện</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductType", "Home", new { maLoai = "L04" })"><i class="fas fa-tags"></i>Thương hiệu</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="header-slider normal-slider">
                        <div class="header-slider-item">
                            <img src="../LayoutOgani/img/hinh2000.png" alt="Slider Image" style="width:100%; height:100%" />

                        </div>
                        <div class="header-slider-item">
                            <img src="../LayoutOgani/img/hinh3000.png" alt="Slider Image" style="width:100%;height:100%" />

                        </div>
                        <div class="header-slider-item">
                            <img src="../LayoutOgani/img/hinh4000.png" alt="Slider Image" style="width:100%;height:100%" />

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="../LayoutOgani/img/hinh5000.jpg" />
                            <a class="img-text" href="">

                            </a>
                        </div>
                        <div class="img-item">
                            <img src="../LayoutOgani/img/hinh6000.png" />
                            <a class="img-text" href="">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Slider End -->
    @RenderBody()

    <!-- Recent Product End -->
    <div class="about-us">
        <div class="container-fluid blue-bg">
            <div class="row align-items-center">
                <div class="col-lg-6 about-content">
                    <div class="about-text">
                        <h2 class="section-title">Về chúng tôi</h2>
                        <p class="about-description">
                            Chào mừng bạn đến với SportsHub - thiên đường dành cho những người yêu thể thao!
                            Từ năm 2010, chúng tôi đã không ngừng nỗ lực mang đến những sản phẩm thể thao
                            chất lượng cao với giá cả hợp lý nhất.
                        </p>
                        <p class="about-description">
                            Với hơn 10 năm kinh nghiệm trong ngành, chúng tôi tự hào là đơn vị phân phối chính thức
                            của nhiều thương hiệu thể thao hàng đầu thế giới như Nike, Adidas, Puma... Tất cả sản phẩm
                            đều được nhập khẩu chính hãng, đảm bảo chất lượng và nguồn gốc xuất xứ rõ ràng.
                        </p>
                        <p class="about-description">
                            Đội ngũ nhân viên của chúng tôi gồm những chuyên gia thể thao nhiệt huyết, luôn sẵn sàng
                            tư vấn để bạn lựa chọn được sản phẩm phù hợp nhất với nhu cầu tập luyện. Hãy đến với
                            SportsHub để trải nghiệm dịch vụ hoàn hảo và chất lượng vượt trội!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 about-video">
                    <div class="video-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VIDEO_ID"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Start -->
    <div class="newsletter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>ĐĂNG KÝ ĐỂ NHẬN ĐƯỢC CÁC ƯU ĐÃI MỚI NHẤT</h1>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <input type="email" value="Nhập emal của bạn">
                        <button>Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    <!-- Review Start -->
    <div class="review">
        <div class="container-fluid">
            <div class="row align-items-center review-slider normal-slider">
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="../LayoutOgani/img/review-1.jpg" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Customer Name</h2>
                            <h3>Profession</h3>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="../LayoutOgani/img/review-2.jpg" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Customer Name</h2>
                            <h3>Profession</h3>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="../LayoutOgani/img/review-3.jpg" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Customer Name</h2>
                            <h3>Profession</h3>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et vitae lorem
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Review End -->
    <!-- Footer-->
    <footer class="site-footer mobile--hidden">
        <div class="container" style="max-width: 100%">
            <div class="site-footer__inner">
                <div class="site-footer__sidebar">
                    <div>
                        <h4 class="site-footer__title">
                            VIBLO lắng nghe bạn!
                        </h4>
                        <p class="site-footer__description" style="margin-bottom: 30px;">
                            Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ
                            khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.
                        </p> <a href="https://form.typeform.com/to/lU2oprGc?typeform-medium=embed-snippet" target="_blank" class="site-footer__btn">
                            Đóng góp ý kiến
                        </a>
                    </div>
                    <div style="width: 25%;">
                        <div class="footer-info">
                            <div class="footer-info__icon">
                                <img src="https://www.coolmate.me/images/footer/icon-hotline.svg" alt="Footer Icon Phone">
                            </div>
                            <div class="footer-info__content">
                                <span class="footer-info__title">
                                    Hotline
                                </span>
                                <p class="footer-info__desciption">
                                    <a href="tel: 1900272737">1900.272737</a> - <a href="tel: 02877772737">028.7777.2737</a>
                                    <br>
                                    <span>(8:30 - 22:00)</span>
                                </p>
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="footer-info__icon">
                                <img src="https://www.coolmate.me/images/footer/icon-email.svg" alt="Footer Icon Email">
                            </div>
                            <div class="footer-info__content">
                                <span class="footer-info__title">
                                    Email
                                </span>
                                <p class="footer-info__desciption">
                                    <a href="mailto: Cool@viblo.me">
                                        Cool@viblo.me
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/coolmate.me" target="_blank" class="footer-social__item">
                            <img src="https://mcdn.coolmate.me/image/June2023/mceclip1_43.png" alt="Footer Icon facebook">
                        </a>
                        <a href="https://zalo.me/1517736583279228381" target="_blank" class="footer-social__item">
                            <img src="https://mcdn.coolmate.me/image/June2023/mceclip2_68.png" alt="Footer Icon Zalo">
                        </a>

                        <a href="https://www.instagram.com/coolmate.me/" target="_blank" class="footer-social__item">
                            <img src="https://www.coolmate.me/images/footer/icon-instar.svg" alt="Footer Icon instar">
                        </a>
                        <a href="https://www.youtube.com/channel/UCWw8wLlodKBtEvVt1tTAsMA" target="_blank" class="footer-social__item">
                            <img src="https://www.coolmate.me/images/footer/icon-youtube.svg" alt="Footer Icon youtube">
                        </a>
                    </div>
                </div>
                <div class="site-footer__menu">
                    <div class="footer-menu">
                        <div class="footer-menu__item">
                            <h4 class="footer-menu__title">VIBLOCLUB</h4>
                            <ul>
                                <li>
                                    <a href="/account/register?itm_source=footerm">Đăng kí thành viên</a>
                                </li>
                                <li>
                                    <a href="/coolclub?itm_source=footer">Ưu đãi &amp; Đặc quyền</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu__item">
                            <h4 class="footer-menu__title">Chính sách</h4>
                            <ul>
                                <li>
                                    <a href="/page/dich-vu-60-ngay-doi-tra">Chính sách đổi trả 60 ngày</a>
                                </li>
                                <li>
                                    <a href="/page/chuong-trinh-va-chinh-sach-khuyen-mai-tai-coolmate">Chính sách khuyến mãi</a>
                                </li>
                                <li>
                                    <a href="/page/chinh-sach-bao-mat-thong-tin-ca-nhan">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="/page/dich-vu-giao-hang-coolmate">Chính sách giao hàng</a>
                                </li>
                            </ul>
                            <h4 class="footer-menu__title">Viblo.me</h4>
                            <ul>
                                <li>
                                    <a href="/page/changelog?itm_source=footer">Lịch sử thay đổi website</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu__item">
                            <h4 class="footer-menu__title">Chăm sóc khách hàng</h4>
                            <ul>
                                <li>
                                    <a href="/page/11-dich-vu-tai-coolmate-co-the-ban-chua-biet">Trải nghiệm mua sắm 100% hài lòng</a>
                                </li>
                                <li>
                                    <a href="/page/faqs">Hỏi đáp - FAQs</a>
                                </li>
                            </ul>
                            <h4 class="footer-menu__title">Kiến thức mặc đẹp</h4>
                            <ul>
                                <li>
                                    <a href="/size-chart">Hướng dẫn chọn size</a>
                                </li>
                                <li>
                                    <a href="/blog">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu__item">
                            <h4 class="footer-menu__title">Tài liệu - Tuyển dụng</h4>
                            <ul>
                                <li>
                                    <a href="/lp/coolmate-101?itm_source=footer#recruitment-jobs">Tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="http://online.gov.vn/(X(1)S(sgmttobbtsiaq3l5itoicxhw))/Home/WebDetails/53184?AspxAutoDetectCookieSupport=1" target="_blank">Đăng ký bản quyền</a>
                                </li>
                            </ul>
                            <h4 class="footer-menu__title">Về VIBLO</h4>
                            <ul>
                                <li>
                                    <a href="/lp/coolmate-101?itm_source=footer">Viblo 101</a>
                                </li>
                                <li>
                                    <a href="/page/11-dich-vu-tai-coolmate-co-the-ban-chua-biet?itm_source=footer">DVKH xuất sắc</a>
                                </li>
                                <li><a href="/page/coolmate-story?itm_source=footer"> Câu chuyện về Viblo</a></li>
                                <li><a href="/page/san-pham-coolmate-duoc-san-xuat-nhu-the-nao?itm_source=footer">Nhà máy</a></li>
                                <li>
                                    <a href="/collection/care-and-share?itm_source=footer">Care &amp; Share</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu__item">
                            <h4 class="footer-menu__title">Địa chỉ liên hệ</h4>
                            <p class="footer-menu__desciption">
                                <u>Văn phòng Hà Nội:</u> Tầng 3 Tòa nhà BMM, KM2, Đường Phùng Hưng, Phường Phúc La, Quận Hà Đông, TP Hà Nội
                            </p>
                            <p class="footer-menu__desciption"><u>Trung tâm vận hành Hà Nội:</u> Lô C8, KCN Lại Yên, Xã Lại Yên, Huyện Hoài Đức, Thành phố Hà Nội</p>
                            <p class="footer-menu__desciption"><u>Văn phòng và Trung tâm vận hành TP. HCM:</u> Lô C3, đường D2, KCN Cát Lái, Thạnh Mỹ Lợi, TP. Thủ  Đức, TP. Hồ Chí Minh.</p>
                            <p class="footer-menu__desciption"><u>Trung tâm R&amp;D:</u> T6-01, The Manhattan Vinhomes Grand Park, Long Bình, TP. Thủ Đức</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__after">
                <div class="copyright">

                    <p class="copyright__description">Mã số doanh nghiệp: 0108617038. Giấy chứng nhận đăng ký doanh nghiệp do Sở Kế hoạch và Đầu tư TP Hà Nội cấp lần đầu ngày 20/02/2019.</p>
                </div>
                <div class="site-footer__logo">
                    <a href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/coolmateme-1646213826" title="Chung nhan Tin Nhiem Mang" target="_blank" style="margin-right: 10px;">
                        <img src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/March2022/handle_cert.png" alt="Chung nhan Tin Nhiem Mang" style="max-height: 40px;">
                    </a>
                    <a href="https://www.dmca.com/Protection/Status.aspx?ID=c6fdbdee-127c-4cf1-923d-7efe75201df6&amp;refurl=https://www.coolmate.me/?utm_source=ggads&amp;utm_medium=search&amp;utm_campaign=VN_GG_SEARCH_BRANDKEY&amp;utm_term=21084599217-163380422121&amp;gad_source=1&amp;gclid=Cj0KCQjwmOm3BhC8ARIsAOSbapWnBt3B8xPT6jtAYnOhE7Zzj66InQ0r53Lm40hl-njXi5wDTbI4GfQaAn2FEALw_wcB" title="DMCA.com Protection Status" target="_blank" class="dmca-badge" style="margin-right: 10px;">
                        <img src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/March2022/dmca_protected_15_120.png" alt="DMCA.com Protection Status" style="max-height: 40px;">
                    </a>
                    <a href="#" style="margin-right: 10px;">
                        <img src="https://www.coolmate.me/images/footer/Coolmate-info.png" alt="Coolmate info" width="39" height="40">
                    </a>
                    <a href="http://online.gov.vn/(X(1)S(3e0hkhscv5zs101mhuopx43a))/Home/WebDetails/53184?AspxAutoDetectCookieSupport=1" target="_blank">
                        <img src="https://www.coolmate.me/images/footer/logoSaleNoti.png" alt="Coolmate info" width="106" height="40">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End-->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../LayoutOgani/lib/easing/easing.min.js"></script>
    <script src="../LayoutOgani/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="../LayoutOgani/js/main.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <!-- Modal for displaying the product added to the wishlist -->
    <div class="modal fade" id="wishlistModal" tabindex="-1" role="dialog" aria-labelledby="wishlistModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="wishlistModalLabel">Danh sách yêu thích</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="wishlist-content">
                        <!-- Nội dung danh sách yêu thích sẽ được thêm vào đây -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="cartPopup" class="cart-popup" style="display: none;">
        <div class="cart-popup-header">
            <h4 class="cart-title">Giỏ hàng của bạn <span class="badge">3</span></h4>
            <button class="close-btn" onclick="closeCartPopup()">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>

        <div class="cart-items-container">
            <ul id="cartItems">
                <!-- Items will be populated here -->
            </ul>
        </div>

        <div class="cart-popup-footer">
            <div class="cart-summary">
                <span>Tổng cộng:</span>
                <span class="total-price">1.250.000₫</span>
            </div>
            <div class="cart-actions">
                <a href="/Cart/Details" class="btn view-cart-btn">Xem giỏ hàng</a>
                <button class="btn checkout-btn">Thanh toán</button>
            </div>
        </div>
    </div>
    <script>
        function updateWishlistCount() {
            $.get('/Home/GetWishlistCount', function (response) {
                if (response.success) {
                    // Hiển thị số lượng sản phẩm ngay khi đăng nhập
                    $('.wishlist span').text(`(${response.count})`);
                } else {
                    $('.wishlist span').text('(0)');
                }
            });
        }

        function showWishlist() {
            $.get('/Home/GetWishlist', function (response) {
                if (response.success) {
                    // Cập nhật số lượng sản phẩm yêu thích
                    $('.wishlist span').text(`(${response.data.length})`);

                    // Kiểm tra nếu danh sách yêu thích không rỗng
                    let html = '';
                    if (response.data.length > 0) {
                        html = response.data.map(item => {
                            const hinhAnh = item.hinhAnh || 'no-image.png';
                            const tenSanPham = item.tenSanPham || 'Không rõ tên sản phẩm';
                            const giaBan = item.giaBan ? item.giaBan.toLocaleString() : '0';
                            const maYeuThich = item.maYeuThich || '';

                            return `
                                        <div class="wishlist-item row align-items-center">
                                            <div class="col-md-3">
                                                <img src="/LayoutOgani/img/${hinhAnh}" alt="${tenSanPham}">
                                            </div>
                                            <div class="col-md-6">
                                                <h5>${tenSanPham}</h5>
                                                <p>Giá: ${giaBan} đ</p>
                                            </div>
                                            <div class="col-md-3 text-right">
                                                <button class="btn btn-danger btn-sm" onclick="removeFromWishlist('${maYeuThich}')">Xóa</button>
                                            </div>
                                        </div>
                                    `;
                        }).join('');
                    } else {
                        html = '<p>Danh sách yêu thích trống.</p>';
                    }

                    // Hiển thị danh sách sản phẩm yêu thích trong modal
                    $('#wishlist-content').html(html);
                    $('#wishlistModal').modal('show');
                } else {
                    alert(response.message); // Hiển thị thông báo lỗi nếu có
                }
            });
        }

        function removeFromWishlist(maYeuThich) {
            if (confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi danh sách yêu thích?')) {
                $.post('/Home/RemoveFromWishlist', { maYeuThich: maYeuThich }, function (response) {
                    if (response.success) {
                        alert(response.message);
                        showWishlist();
                        updateWishlistCount(); // Cập nhật số lượng yêu thích
                    } else {
                        alert(response.message);
                    }
                });
            }
        }

        // Gọi hàm để hiển thị tổng số sản phẩm ngay khi trang tải
        $(document).ready(function () {
            updateWishlistCount();
        });
    </script>

    <!-- Bao gồm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bao gồm Bootstrap (cho modal) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Ảnh trong danh sách yêu thích */
        .wishlist-item img {
            width: 100%;
            height: 150px; /* Chiều cao cố định */
            object-fit: cover; /* Ảnh sẽ được cắt vừa khung */
            border-radius: 5px;
        }

        /* Căn chỉnh danh sách */
        .wishlist-item {
            border-bottom: 1px solid #ddd;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

            .wishlist-item:last-child {
                border-bottom: none;
            }

            .wishlist-item h5 {
                font-size: 18px;
                font-weight: bold;
            }

            .wishlist-item p {
                margin: 0;
                color: #666;
            }

            .wishlist-item .btn {
                font-size: 14px;
            }

    </style>
</body>
</html>
