@model ChiTietSanPham

@{
    ViewData["Title"] = Model.SanPham.TenSanPham; // Đặt tiêu đề trang
    Layout = "~/Views/Shared/_LayoutOgani2.cshtml"; // Sử dụng layout hiện tại
    <link href="~/css/Detail.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    
}

<div class="product-detail">
    <h1>@Model.SanPham.TenSanPham</h1>
    <div class="product-image">
        
        @if (!string.IsNullOrEmpty(Model.HinhAnh))
        {
            <img src="~/LayoutOgani/img/@Model.HinhAnh" alt="Product Image" />
        }
        else
        {
            <img src="~/img/no-image.png" alt="No Image" />
        }
    </div>
    <div class="product-info">
       
        <h3>Giá: <span>đ</span>@Model.SanPham.GiaBan</h3>
        <p>Mô tả: @Model.SanPham.MoTa</p>
        <p>Số lượng tồn: @Model.SoLuongTon</p>
        <p>Trạng thái: @Model.TrangThai</p>
        <p>Danh mục: @Model.DanhMuc.TenDanhMuc</p> <!-- Hiển thị tên danh mục -->
        <p>Kích thước: @Model.KichThuoc.TenKichThuoc</p> <!-- Hiển thị tên kích thước -->
        <p>Màu sắc: @Model.MauSac.TenMauSac</p> <!-- Hiển thị tên màu sắc -->
    </div>
    <div class="product-action">
        <a class="btn" href="#" tabindex="-1"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
        <a class="btn" href="#" tabindex="-1"><i class="fa fa-heart"></i> Yêu thích</a>
    </div>
</div>

